TABLE_NAME=backoffice-api-local-tickets
AWS_REGION=sa-east-1
PORT=3000

# Endpoint do DynamoDB local. O Docker Compose sobrescreve este valor
# automaticamente para o hostname interno (http://dynamodb:8000).
# Usado para identificar que não estamos rodando na AWS/Prod
DYNAMODB_ENDPOINT=http://localhost:8000
